body {
    background-color: red 
}

/* Heading font */
.site-title {
    font-family: "BBH Bartle", sans-serif;
    font-weight: 400;
}

/* Paragraph font */
p {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

/* Button */
.btn {
    background-color: #1e88e5;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}










